<div th:fragment = "lists" class="row justify-content-center" style="margin-top: 2rem;">
  <h3 class="text-center mb-3">Posts</h3>

  <div th:each="post : ${posts}" class="card" style="width: 18rem;">
    <img th:src="@{${'/display?id=29ef135c-5558-4919-9c05-9c2655ea0e60'}}" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title" th:text="${post.title}"></h5>
      <p class="card-text" th:text="${post.description}"></p>
      <a href="" class="btn btn-primary">Detail</a>
      <a href th:text="'Delete'" th:attr="data-post-id=${post.id}" class="btn btn-danger"></a>
    </div>
  </div>

</div>

