<table th:fragment = "transactions" class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Sender</th>
    <th scope="col">Receiver</th>
    <th scope="col">Price</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="transaction : ${transactions}">
    <td th:text="${transaction.sender}"></td>
    <td th:text="${transaction.receiver}"></td>
    <td th:text="${transaction.price}"></td>
    <td th:text="${transaction.transactionDate.toString()}"></td>
    <td>
      <button type="button"
              th:text="'Details'"
              th:attr="data-transaction-id=${transaction.id}"
              class="btn btn-outline-success detail-btn"
      >

      </button>
    </td>
  </tr>
  </tbody>
</table>