<form th:fragment = "search"
      class="d-flex align-items-center justify-content-center flex-row h-100 w-20 px-5"
      method="get"
      style= "gap: 1rem;"
      role= "form"
      th:action="@{/post}"
      th:object="${page}"
>
    <h1>Search</h1>

    <input class="form-control"
           type="text"
           name="username"
           th:field="*{searchKey}"
           required >
    <button th:replace = "~{fragments/button :: bigBtn}">
    </button>
</form>
<form th:fragment = "search_test"
      th:action="@{/post}"
      th:object="${page}"
      class="d-flex align-items-center justify-content-center flex-row">
    <div class="form-group">
        <label for="email">Go Page: </label>
        <input type="text"
               class="form-control-sm"
               id="email" placeholder="Page"
               th:field="*{searchKey}"
               name="email">
        <div class="badge bg-success text-wrap mx-2"
             style="width: 3rem;">
            /100
        </div>
    </div>
    <button th:replace = "~{fragments/button :: smallBtn}">
    </button>
</form>