<div th:fragment="content" class="container mt-5" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-lg-8 d-flex flex-column justify-content-start align-items-start">

            <div class="mb-4">
                <h1 class="fw-bolder mb-1">Title</h1>
                <div class="text-muted fst-italic mb-2">Posted on Dated</div>
            </div>

            <div class="mb-5">
                <h2>Description</h2>
                <p class="fs-5 mb-4">Text for description</p>
            </div>

            <div class="mb-5">
                <h2>Type</h2>
            </div>

            <div class="mb-5">
                <h2>Price</h2>
            </div>

        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-start align-items-start">

            <div class="card mb-4">
                Sale Post List
            </div>

            <div class="card mb-4">
                Rent Post List
            </div>

        </div>

    </div>

</div>