<footer th:fragment = "footer"
        class="text-center text-lg-start"
>

    <div class="text-center bg-light">

        <section class=" mb-4 text-center">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">FOOTER CONTENT</h5>

                    <p>
                        This is our demo website about estate in VietNam
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="">Link 1</a>
                        </li>
                        <li>
                            <a href="" >Link 2</a>
                        </li>
                        <li>
                            <a href="">Link 3</a>
                        </li>
                        <li>
                            <a href="">Link 4</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="">Link 1</a>
                        </li>
                        <li>
                            <a href="">Link 2</a>
                        </li>
                        <li>
                            <a href="">Link 3</a>
                        </li>
                        <li>
                            <a href="">Link 4</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="">Link 1</a>
                        </li>
                        <li>
                            <a href="">Link 2</a>
                        </li>
                        <li>
                            <a href="">Link 3</a>
                        </li>
                        <li>
                            <a href="">Link 4</a>
                        </li>
                    </ul>
                </div>

            </div>

        </section>

        <hr class="mb-4" />

        <section class="mb-4 text-center">
            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <p class="d-flex justify-content-center align-items-center">
                <h5>Register for free</h5>
                <button type="button" class="btn btn-rounded">
                    Click Here !
                </button>
            </p>
        </section>

        <hr class="mb-4" />

        <section class="mb-4 text-center">

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-google"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href="#!"
                    role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href="#!"
                    role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>

        <hr class="mb-4" />

        © 2024 Copyright
    </div>

</footer>