footer {
   background-color: #45526e;
   margin-top: 100px;
   width:100%;
}

.social-icons{
    text-align:center;
}

.social-icons li {
    display: inline;
    margin-left: 10px;
}


span{
    font-size: 20px;
}


ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
}


.note span{
    font-weight: bold;
}


.p1_column,.p2_column,.p3_column{
    text-align:center;
}

