<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "~{fragments/header :: header}">
</head>

<body class="d-flex align-items-center justify-content-center my-5">
    <div style = "
                            width: 50vw;
                            height: 70vh;
                        "
         class="shadow-lg rounded d-flex align-items-center justify-content-center flex-row-reverse my-5">

        <div class="form_container h-100 w-50" style="z-index: 1;">
            <h2 class="text-center my-3">Add Image</h2>

            <form class=" d-flex flex-column align-items-center justify-content-center px-5" action="add" method="post" enctype="multipart/form-data">

                <input type="file" class="form-control my-3" id="image" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required="required">

                <div class="d-grid justify-content-center my-3" style = "
                            width: 35vw;
                            height: 35vh;
                        ">Zone for Image List</div>

                <div class="d-grid justify-content-center my-2">
                    <button class="btn btn-outline-success btn-lg" type="submit" >Submit</button>
                </div>

            </form>

        </div>

    </div>

</body>
</html>